<div class="container d-flex flex-column align-items-center " id="login">
  <div>
    <h1 class="text-center p-3 text-white">Login</h2>


      <form action="/auth/login" method="POST" class="">
        <label for="username"></label>
        <input class="form-control" id="username" type="text" name="username" placeholder="Username">

        <label for="password"></label>
        <input class="form-control" id="password" type="password" name="password" placeholder="Password">
        <br>
        {{#if message }}
        <div class="text-white">{{ message }}</div>
        {{/if}}

        <br>

        <button class="btn btn-outline-light btn-block">Login</button>

        <p class="account-message">
          Don't have an account yet?
          <a href="/auth/signup">Signup</a>
        </p>
      </form>
  </div>

</div>