<div class="container d-flex flex-column align-items-center " id="signup">


  <h1 class="text-center p-1">Signup</h1>

  <form action="/auth/signup" method="POST" id="form-container">

    <input class="form-control" id="username" type="text" name="username" placeholder="JonSnow">

    <br>


    <input class="form-control" id="password" type="password" name="password" placeholder="Your password">
    <br>
    {{#if message }}
    <div class="error-message">{{ message }}</div>
    {{/if}}

    <br>

    <button class="btn btn-outline-dark btn-block">Create Account</button>

    <p class="account-message">
      Do you already have an account?
      <a href="/auth/login">Login</a>
    </p>
  </form>
</div>