<h1>Error Dashboard</h1>
<div class="d-flex flex-column justify-content-center align-items-center">
    {{#each wells}}
    <div class="card m-2" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{this.address}}</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>


            <form action="/admin/{{this._id}}/resolve" method="post">
                <button type="submit" class="btn btn-primary">
                    resolve issue
                </button>
            </form>


        </div>
    </div>
    {{/each}}

    {{#if message}}
    {{message}}
    {{/if}}

</div>