<div class="container">
    <div class="card shadow-sm mb-3 bg-secondary p-3 text-white header-card">
        <h2> t-apped</h2>
        <br>
        <div class="container">
            <p>t-apped is an application that helps to bring people to free, fresh and clean water in Berlin. </p>
            <p>
                As these kinds
                of drinking water wells are available in Berlin since 1985 (according to Wikipedia) and nobody knows
                about
                it, we saw it as our job to introduce these to the community.
            </p>
            <p>
                The main focus groups are on the one hand water citizens and tourists and the other hands the service
                workers of "Berliner Wasserbetriebe" the water provider.
            </p>
            <p>
                t-apped uses open data from the government of Berlin, seeded in a MongoDB database as there is no API
                available.
            </p>
            <p>
                <strong> Core Features</strong>
                <ul>
                    <li>map by mapbox</li>
                    <li>user backend with interesting information about water usage in general</li>
                    <li> admin backend for troubleshooting</li>
                    <li>well details for availability, accessibility and commenting</li>

                </ul>
            </p>

            <p> This application was created for demonstrative
                purposes and is not for sales use.
            </p>

            <p>
                t-apped was created and developed by <a href="https://github.com/pascalH91">Pascal Hanke</a> and <a
                    href="https://github.com/MikeVanYarnrider">Michael Garnreiter</a> .
            </p>
            <p>
                <strong>This application was created for
                    demonstrative
                    purposes and is not for sales use.</strong>
            </p>
        </div>
    </div>
</div>