<div class="container">
    <div class="card shadow-sm my-3 bg-secondary p-3 text-white">
        <h1>Create new well</h1>
        <p>Get your direction directly using your geolocation. Click the button "GEO" and fill in your location
            automatically</p>
        <button class="btn btn-primary" id="los">Fill my location</button>
    </div>

    <hr>
    <h3>Well data</h3>
    {{#if message}}
    <div class="alert alert-success" role="alert">
        {{message}} - go to <a href="/">map</a>
    </div>
    {{/if}}
    <form action="/create" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control" placeholder="e.g. Humboldtpark">
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="lat" name="lat" class="form-control" placeholder="latitude">
            <input type="text" id="lng" name="lng" class="form-control" placeholder="longitude">
        </div>
        <div class="form-group">
            <label for="availability">availability</label>
            <select type="" id="availability" name="availability" class="form-control">
                <option value="open">open</option>
                <option value="not available">not available</option>
                <option value="closed">closed</option>
            </select>
        </div>
        <div class="form-group">
            <label for="accessability">accessability</label>
            <input type="checkbox" id="accessability" name="accessability" class="form-control">
        </div>
        <div class="form-group">
            <label for="noteworthy">noteworthy</label>
            <input type="checkbox" id="noteworthy" name="noteworthy" class="form-control">
        </div>
        <div class="form-group">
            <label for="inOperation">inOperation</label>
            <input type="text" id="inOperation" name="inOperation" class="form-control">
            <input type="text" id="inOperation" name="inOperation" class="form-control">
        </div>
        <button type="submit">Create new well</button>
    </form>
</div>




<script>
    const button = document.getElementById('los');
    button.addEventListener('click', getPosition);


    function getPosition() {
        if (navigator.geolocation) {
            console.log(navigator.geolocation.getCurrentPosition(showPosition));
        } else {
            console.log('Your browser does not support geolocation services');
        }
    }

    function showPosition(position) {
        document.getElementById("lat").value = position.coords.latitude;
        document.getElementById("lng").value = position.coords.longitude;
    }

</script>