<h1>Create a new well</h1>
{{#if message}}
<div class="alert alert-success" role="alert">
    {{message}} - go to <a href="/">map</a>
</div>
{{/if}}

<div class="container">
    <form action="/create" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input type="text" id="address" name="address" class="form-control">
        </div>
        <div class="form-group">
            <label for="availability">availability</label>
            <select type="" id="availability" name="availability" class="form-control">
                <option value="open">open</option>
                <option value="not available">not available</option>
                <option value="closed">closed</option>
            </select>
        </div>
        <div class="form-group">
            <label for="accessability">accessability</label>
            <input type="checkbox" id="accessability" name="accessability" class="form-control">
        </div>
        <div class="form-group">
            <label for="noteworthy">noteworthy</label>
            <input type="checkbox" id="noteworthy" name="noteworthy" class="form-control">
        </div>
        <div class="form-group">
            <label for="inOperation">inOperation</label>
            <input type="text" id="inOperation" name="inOperation" class="form-control">
            <input type="text" id="inOperation" name="inOperation" class="form-control">
        </div>
        <button type="submit">Create new well</button>
    </form>
</div>


{{!-- 

name: "Volkspark Friedrichshain",
    type: wellType,
    coordinates: { lat: 52.528544, lng: 13.432946 },
    availability: "open", //"open", "not available", "closed"
    accessability: true,
    noteworthy: false,
    inOperation: { 

 --}}