<head>

  {{!-- leaflet setup --}}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>


  {{!-- locationcontrol leaflet --}}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />

  <script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js"
    charset="utf-8"></script>

  {{!-- routing machine leaflet --}}
  <link rel="stylesheet" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" />

  <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>

  {{!-- geocoder NOMINATIM --}}
  <script type="text/javascript"
    src="//nominatim.openstreetmap.org/reverse/?lat=52.52&amp;lon=13.4&amp;zoom=18&amp;addressdetails=1&amp"
    id="_l_geocoder_1"></script>

</head>


<div id="mapid"></div>

<script>
  let myMap = L.map("mapid", {
    center: [52.52, 13.4],
    zoom: 13
  })

  const getWells = () => {
    axios.get('/wells').then(response => {
      response.data.forEach(well => {

        const openWellOnClick = (well) => {
          console.log(well.latlng.lat)
          L.popup()
            .setLatLng({
              lat: well.latlng.lat + 0.003,
              lng: well.latlng.lng
            })
            .setContent("hi. This Well is open. You can find it at " + well.latlng)
            .openOn(myMap)
        }

        const closedWellOnClick = (well) => {
          L.popup()
            .setLatLng({
              lat: well.latlng.lat + 0.003,
              lng: well.latlng.lng
            })
            .setContent("Sorry. This Well is closed. You can find it at " + well.latlng)
            .openOn(myMap)
        }

        let closedWell = L.icon({
          iconUrl: 'https://assets.mapquestapi.com/icon/v2/incident-sm@2x.png',
          iconSize: [20, 20],
          iconAnchor: [10, 29],
          popupAnchor: [0, -29]
        });
        let openWell = L.icon({
          iconUrl: 'https://assets.mapquestapi.com/icon/v2/circle-white@2x.png',
          iconSize: [20, 20],
          iconAnchor: [10, 29],
          popupAnchor: [0, -29]
        });

        if (well.availability === "open") {
          new L.marker([well.coordinates.lat, well.coordinates.lng], {
            icon: openWell,
            draggable: false,
            autoPan: true
          })
            .addTo(myMap)
            .on('click', openWellOnClick)

        } else {
          new L.marker([well.coordinates.lat, well.coordinates.lng], {
            icon: closedWell,
            draggable: false,
            autoPan: true
          })
            .addTo(myMap)
            .on('click', closedWellOnClick)

        }
      })
    }).catch(err => {
      console.log(err)
    })
  }

  getWells();

  L.control.locate({
    position: 'topleft',
    setView: 'untilPanOrZoom',
    keepCurrentZoomLevel: false,
    showCompass: true,
    flyTo: true,

  }).addTo(myMap);



  //Map-Display
  L.tileLayer(
    "https://api.mapbox.com/styles/v1/pascalh91/ck34h68b101fq1co11o7pzrhi/tiles/256/{z}/{x}/{y}@2x?access_token=pk.eyJ1IjoicGFzY2FsaDkxIiwiYSI6ImNrMnp5ZXZ5OTBscmozY21xZDV2YnJtbTIifQ.jLPr-gFzHK0Wxf1SE0F3Dg",
    {
      attribution: '',
      maxZoom: 18,
      id: "mapbox.street",
      accessToken: "pk.eyJ1IjoicGFzY2FsaDkxIiwiYSI6ImNrMnp5ZXZ5OTBscmozY21xZDV2YnJtbTIifQ.jLPr-gFzHK0Wxf1SE0F3Dg"
    }).addTo(myMap);

  L.Routing.control({
    waypoints: [
      L.latLng(52.52, 13.4),
      L.latLng(52.54, 13.5)
    ],
    routeWhileDragging: true,
    geocoder: L.Control.Geocoder.nominatim()

  }).addTo(myMap);

</script>