<head>

  {{!-- Mapbox version --}}
  <link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />
  <script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>



  {{!-- mapbox geocoder --}}
  <link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.css'
    type='text/css' />
  <script
    src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js'></script>

  </script>

  {{!-- Mapbox directions --}}
  <link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.css'
    type='text/css' />
  <script
    src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.0.2/mapbox-gl-directions.js'></script>


</head>



<div id='mapid'></div>

{{!-- <button type="submit">
  <div id="bm"></div>
</button> --}}
<!-- Footer -->
{{!-- <footer class="page-footer font-small blue"> --}}

<!-- Copyright -->
{{!--   <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div> --}}
<!-- Copyright -->

<div class="mapFilter">
  <button class="filterButton access" href="#"> <img src="../images/483px-Wheelchair_symbol.svg.png">Accessible</button>
  <button class="filterButton noteWorthy" href="#"><img src="../images/5-512 copy.png">Attraction</button>
  <button class="filterButton highRating" href="#"><img src="../images/star.png">High Rating</button>
</div>

</footer>
<!-- Footer -->


<script>

  mapboxgl.accessToken = 'pk.eyJ1IjoicGFzY2FsaDkxIiwiYSI6ImNrMnp5ZXZ5OTBscmozY21xZDV2YnJtbTIifQ.jLPr-gFzHK0Wxf1SE0F3Dg';
  var myMap = new mapboxgl.Map({
    container: 'mapid',
    style: "mapbox://styles/pascalh91/ck34h68b101fq1co11o7pzrhi",
    center: [13.40, 52.52],
    zoom: 12
  });

  /*
  const getWells = () => {
      axios.get('/wells').then(response => {
        response.data.forEach(well => {
          console.log(well)
  */
  /*const openWellOnClick = (well) => {
    console.log(well.latlng.lat)
    L.popup()
      .setLatLng({
        lat: well.latlng.lat + 0.003,
        lng: well.latlng.lng
      })
      .setContent("hi. This Well is open. You can find it at " + well.latlng)
      .openOn(myMap)
  }

  const closedWellOnClick = (well) => {
    L.popup()
      .setLatLng({
        lat: well.latlng.lat + 0.003,
        lng: well.latlng.lng
      })
      .setContent("Sorry. This Well is closed. You can find it at " + well.latlng)
      .openOn(myMap)
  }

  let closedWell = L.icon({
    iconUrl: 'https://assets.mapquestapi.com/icon/v2/incident-sm@2x.png',
    iconSize: [20, 20],
    iconAnchor: [10, 29],
    popupAnchor: [0, -29]
  });
  let openWell = L.icon({
    iconUrl: 'https://assets.mapquestapi.com/icon/v2/circle-white@2x.png',
    iconSize: [20, 20],
    iconAnchor: [10, 29],
    popupAnchor: [0, -29]
  });*/
  /*
          if (well.availability === "open") {
            new mapboxgl.Marker()
            .setLngLat(well.coordinates)
            .addTo(myMap)
  
          } else {
            new mapboxgl.Marker().setLngLat(well.coordinates).addTo(myMap)
          }
        })
      }).catch(err => {
        console.log(err)
      })
    }
  
    getWells();*/
  // add markers to map
  const getWells = (accessFilter, noteFilter, rateFilter) => {
    axios.get('/data').then(response => {
      // console.log(document.querySelectorAll('button.marker'))

      let buttonList = document.querySelectorAll('button.marker')
      buttonList.length && buttonList.forEach(el => {
        el.remove()
      })

      response.data.forEach(well => {

        console.log(well._id)
        let winter = false;
        let closed = false;
        let monthArr = ["January", "February", "March", "April", "Mai", "June", "July", "August", "September", "October", "Novemer", "December", "January"]

        let month = new Date().getMonth();
        let monthStr = monthArr[well.inOperation.from];
        // create a HTML element for each feature
        let el = document.createElement('button');
        el.className = 'marker';

        if (well.inOperation.from > month + 1 || well.inOperation.to < month + 1) {
          el.classList.add("winter");
          winter = true;
        }
        if (well.availability === "closed") {
          el.classList.add("closed");
          closed = true;
        }



        //declaring variables
        let rating;
        let wellImage = "https://www.expressplumbingidaho.com/blog/wp-content/uploads/2016/10/Drinking-Fountains.jpg";
        let access = "";
        let attraction = ""

        //image evalutaion
        if (well.imageUrls.length) {
          wellImage = well.imageUrls[0]
        }

        //attraction calculation
        if (well.noteworthy !== "off") {
          attraction = '<img src="../images/5-512 copy.png">'
        }

        //accesability evaluation
        if (well.accessability === "on") {
          access = '<img src="../images/483px-Wheelchair_symbol.svg.png">'
        }

        //ratings calculation
        if (well.ratings.length) {
          rating = (well.ratings.reduce((acc, val) => acc + val, 0)) / well.ratings.length;
          rating = rating.toFixed(1);
        } else {
          rating = 3
        }

        //console.log("rating", rating)

        let innerHTMLNormal = '<div class="header"><div style="background-image: url(' + wellImage + '); background-size: cover; background-position: center 10%; width: 90px; height: 90px; border-radius: 50%"></div><div class="filterProperty">' + access + attraction + '</div><h2></h2></div><p></br><a href="/wellInfo/' + well._id + '">More Information</a> </p> <div class="popUpButtons"><a class="comments" href="/wellInfo/' + well._id + '"><img src="../images/comment-box-512.png"></a><a class="report" href="/wellInfo/' + well._id + '"><img src="../images/report-problem-icon_1993760.png"></a><a class="rating" src="#"><img src="/images/star.png">' + rating + '</a></div>'

        let innerHTMLClosed = '<div class="overlayClosed"><article><img src="../images/Maintenance.png"><h2>SORRY!</h2><p>This drinking-fountain is currently not working. </br> The problem will be taken care of.</p></article></div><div class="header"><div style="background-image: url(' + wellImage + '); background-size: cover; background-position: center 10%; width: 90px; height: 90px; border-radius: 50%"></div><div class="filterProperty">' + access + attraction + '</div><h2></h2></div><p></br><a href="https://www.w3schools.com" target="_blank">More Information</a> </p> <div class="popUpButtons"><a class="comments" src="#"><img src="../images/comment-box-512.png"></a><a class="report" src="#"><img src="../images/report-problem-icon_1993760.png"></a><a class="rating" src="#"><img src="/images/star.png">' + rating + '</a></div>'

        let innerHTMLWinter = '<div class="overlayWinter"><article><img src="../images/Low_Temperature.png"><h2>SORRY!</h2><p>Due to low temperatures this drinking-fountain is still closed until ' + monthStr + '. </p></article></div><div class="header"><div style="background-image: url(' + wellImage + '); background-size: cover; background-position: center 10%; width: 90px; height: 90px; border-radius: 50%"></div><div class="filterProperty">' + access + attraction + '</div><h2></h2></div><p></br><a href="https://www.w3schools.com" target="_blank">More Information</a> </p> <div class="popUpButtons"><a class="comments" src="#"><img src="../images/comment-box-512.png"></a><a class="report" src="#"><img src="../images/report-problem-icon_1993760.png"></a><a class="rating" src="#"><img src="/images/star.png">' + rating + '</a></div>'

        const normalPopup = () => {
          new mapboxgl.Marker(el)
            .setLngLat(well.coordinates)
            .setPopup(new mapboxgl.Popup({ offset: 25 })
              .setHTML(innerHTMLNormal))
            .addTo(myMap);
        }

        const closedPopup = () => {
          new mapboxgl.Marker(el)
            .setLngLat(well.coordinates)
            .setPopup(new mapboxgl.Popup({ offset: 25 })
              .setHTML(innerHTMLClosed))
            .addTo(myMap);
        }

        const winterPopup = () => {
          new mapboxgl.Marker(el)
            .setLngLat(well.coordinates)
            .setPopup(new mapboxgl.Popup({ offset: 25 })
              .setHTML(innerHTMLWinter))
            .addTo(myMap);
        }

        const evaluation = () => {
          if (closed) {
            closedPopup()
          } else if (winter) {
            winterPopup()
          } else {
            normalPopup()
          }
        }
        // make a marker for each feature and add to the map
        if (accessFilter === true && noteFilter === true && rateFilter === true) {
          console.log("all filter activated")
          if (access && attraction && rating >= 4) {
            evaluation()
          }
        }
        else if (accessFilter === true && noteFilter === true) {
          if (access && attraction) {
            evaluation()
          }
        }
        else if (noteFilter === true && rateFilter === true) {
          if (rating >= 4 && attraction) {
            evaluation()
          }
        }
        else if (rateFilter === true && accessFilter === true) {
          if (rating >= 4 && access) {
            evaluation()
          }
        }
        else if (accessFilter === true) {
          if (access) {
            evaluation()
          }
        }
        else if (noteFilter === true) {
          if (attraction) {
            evaluation()
          }
        }
        else if (rateFilter === true) {
          if (rating >= 4) {
            evaluation()
          }
        }
        else {
          console.log("no filter activated")
          evaluation()
        };

        //console.log(m)
      });

    });
  }


  getWells(false, false, false)

  let accessFilter = document.querySelector('button.access')
  let noteFilter = document.querySelector('button.noteWorthy')
  let ratingFilter = document.querySelector('button.highRating')

  let filterStatus = [false, false, false];

  accessFilter.onclick = () => {
    if (!filterStatus[0]) {
      filterStatus[0] = true;
      accessFilter.classList.remove("filterButton");
      accessFilter.classList.add("filterActive");
    } else {
      filterStatus[0] = false
      accessFilter.classList.remove("filterActive");
      accessFilter.classList.add("filterButton");
    }
    return getWells(filterStatus[0], filterStatus[1], filterStatus[2])
  }

  noteFilter.onclick = () => {
    if (!filterStatus[1]) {
      filterStatus[1] = true
      noteFilter.classList.remove("filterButton");
      noteFilter.classList.add("filterActive");
    } else {
      filterStatus[1] = false
      noteFilter.classList.remove("filterActive");
      noteFilter.classList.add("filterButton");
    }
    return getWells(filterStatus[0], filterStatus[1], filterStatus[2])
  }

  ratingFilter.onclick = () => {
    console.log("click")
    if (!filterStatus[2]) {
      filterStatus[2] = true
      ratingFilter.classList.remove("filterButton");
      ratingFilter.classList.add("filterActive");
    } else {
      filterStatus[2] = false
      ratingFilter.classList.remove("filterActive");
      ratingFilter.classList.add("filterButton");
    }
    return getWells(filterStatus[0], filterStatus[1], filterStatus[2])
  }



  /*let counter = 0;

  let animation = bodymovin.loadAnimation({
    container: document.getElementById("bm"), // the dom element that will contain the animation
    renderer: "svg",
    loop: false,
    autoplay: false,
    path: "../bodymovin/data.json" // the path to the animation json
  });

  document.querySelector("bm").onclick = () => {
    console.log("hello");

    if (counter % 2 === 0) {
      animation.setDirection(1);
    } else {
      animation.setDirection(-1);
    }
    animation.play();


    counter += 1;
    if (counter >= 2) {
      counter = 0;
    }
  };
*/


  myMap.addControl(new MapboxGeocoder({
    accessToken: mapboxgl.accessToken,
    mapboxgl: mapboxgl,
    placeholder: "search"
  }));
  //navigation
  myMap.addControl(
    new mapboxgl.NavigationControl()
  );

  //marker
  /*let marker = new mapboxgl.Marker({
    draggable: true,
    color: "red"
  }).setLngLat([13, 52]).addTo(myMap);*/

  //geolocation
  myMap.addControl(new mapboxgl.GeolocateControl({
    positionOptions: {
      enableHighAccuracy: true
    },
    trackUserLocation: true
  }));


  /*myMap.addControl(new MapboxDirections({
    accessToken: mapboxgl.accessToken,
        controls: {
            profileSwitcher: false,
            instructions: false
          },
  }), 'bottom-left');*/
</script>