<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css" />

  {{!-- Leaflet Style & Plugin --}}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>

  {{!-- MapQuest inkl. KEY --}}
  <script src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-map.js?key=mwwF5mYSxB66UaLGTVcsKr5Uca6lA5zK"></script>
  <script
    src="https://www.mapquestapi.com/sdk/leaflet/v2.2/mq-routing.js?key=mwwF5mYSxB66UaLGTVcsKr5Uca6lA5zK"></script>
</head>

<body>

  <nav>
    <a href="/">Home</a>
    <a href="/auth/login">Login</a>
    <a href="/auth/signup">Signup</a>
    <a href="/auth/logout">Logout</a>
  </nav>

  {{{body}}}

  <script src="/javascripts/script.js"></script>
</body>

</html>