<div class="container" id="dashboard">

    <div class="card shadow-sm mb-3 bg-primary p-3 text-white header-card">
        <h2>Hi, {{user.username}}!</h2>
        <p>Welcome to your personal dashboard. Find here information of the water usage in Berlin and how using water
            wells help the environment to stay clean.</p>

    </div>
    {{!-- Chart! --}}
    <canvas id="myWaterChart" width="300" height="200" class="card shadow-sm p-3 my-3"></canvas>
    <canvas id="myUsageChart" width="300" height="200" class="card shadow-sm p-3 my-3"></canvas>

    <div class="card shadow-sm my-3 bg-light p-3">
        <h3>Did you know?</h3>
        <p> You can save around <strong>60 €</strong> per year when using public water fountains and save more than
            <strong>20kg CO2</strong> </p>
        <img src="https://www.mehrweg-mach-mit.de/fileadmin/Mehrweg/Getr%C3%A4nkeverpackungen/Glasflaschen/CO2-Emissionen_Mineralwasser_MW-Glas_EW-PET.png"
            alt="">

    </div>


</div>
<script src=" ./javascripts/charts.js"> </script>