* {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100%; }

.navbar {
  position: fixed;
  width: 100vw; }

#mapid {
  display: flex;
  height: 100vh !important;
  width: 100%;
  z-index: 0 !important; }

#login {
  padding-top: 40vh;
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1516670778397-8ead0070cb3e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60");
  background-repeat: no-repeat;
  background-size: cover; }

input {
  width: 100%;
  margin: 0;
  border-radius: 5px;
  border: none; }

.header-card {
  margin-top: 70px; }

.card img {
  width: 100%;
  height: auto; }

.marker {
  background-image: url("../images/58889219bc2fc2ef3a1860aa.png");
  background-size: contain;
  width: 29px;
  height: 40px;
  border-radius: 0%;
  cursor: pointer;
  outline: none !important;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none !important;
  cursor: pointer;
  /*   overflow: hidden;  */ }

.winter {
  background-image: url("../images/outofDate.png"); }

.closed {
  background-image: url("../images/notAvailable.png"); }

.mapboxgl-ctrl-geocoder--input {
  width: 200px !important;
  margin: 0 20px !important; }

.mapboxgl-ctrl-geocoder {
  margin-top: 70px !important;
  display: flex !important;
  border-radius: 5px !important; }

.mapboxgl-ctrl-geocoder--icon-search {
  visibility: hidden; }

.mapboxgl-ctrl-geocoder--icon-close {
  margin: 0 !important; }

.mapboxgl-popup {
  max-width: 200px; }

.mapboxgl-popup-content {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.95) !important;
  border-radius: 5px !important;
  /* font-family: 'Open Sans', sans-serif; */ }

.mapboxgl-popup-close-button {
  /* height: 10px !important; */
  width: 30px !important;
  padding: 5px !important;
  margin: 2px !important;
  font-size: 3em;
  background-color: rgba(248, 249, 250, 0.3) !important;
  border-radius: 50% !important;
  outline: none;
  border: none;
  z-index: 6;
  box-shadow: -1px 1px 1px rgba(14, 55, 78, 0.95); }

.mapboxgl-popup-close-button:active {
  font-size: 3em;
  color: white !important;
  background-color: #1b6d9c !important; }

.mapboxgl-popup-content div.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -20px; }

.mapboxgl-popup-content a {
  text-decoration: none;
  color: white;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: #1b6d9c;
  border: 2px solid rgba(27, 109, 156, 0); }

.mapboxgl-popup-content a:hover {
  text-decoration: none;
  color: #1b6d9c;
  padding: 10px 20px;
  border-radius: 3px;
  background-color: white;
  border: 2px solid #1b6d9c; }

.mapboxgl-popup-content h2 {
  margin-top: 25px; }

div.popUpButtons {
  display: flex;
  justify-content: space-between; }

div.popUpButtons a {
  text-decoration: none;
  color: white;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid rgba(27, 109, 156, 0); }

div.popUpButtons a:hover {
  text-decoration: none;
  color: #1b6d9c;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #1b6d9c; }

a.comments img {
  width: 20px; }

a.report img {
  width: 20px; }

a.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none !important;
  font-size: 1.4em; }

a.rating:hover {
  border: none !important; }

a.rating img {
  width: 25px;
  margin-right: 6px; }

.mapboxgl-popup div.overlayWinter {
  left: 0px;
  top: 0px;
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 2;
  height: 96.4%;
  width: 100%;
  background-color: rgba(74, 105, 122, 0.9);
  border-radius: 5px; }

.mapboxgl-popup div.overlayClosed {
  left: 0px;
  top: 0px;
  padding: 0;
  margin: 0;
  position: fixed;
  z-index: 2;
  height: 96.4%;
  width: 100%;
  background-color: rgba(74, 105, 122, 0.9);
  border-radius: 5px; }

div.overlayClosed img {
  height: 70px; }

div.overlayWinter img {
  height: 80px; }

.mapboxgl-popup div.overlayWinter,
div.overlayClosed article {
  font-size: 0.9em;
  padding: 15px;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

div.overlayClosed h2,
div.overlayClosed p,
div.overlayWinter h2,
div.overlayWinter p {
  color: white; }

div.filterProperty {
  margin-top: 10px;
  display: flex;
  justify-content: center; }

div.filterProperty img {
  height: 25px; }

div.mapFilter {
  position: fixed;
  z-index: 1;
  top: 93vh;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: 0 10px; }

.filterButton {
  background-color: white;
  border-radius: 7px;
  /* margin: 10px 7px; */
  padding: 5px 7px;
  color: black;
  text-decoration: none;
  font-size: 0.7em;
  border: 2px solid white;
  outline: none;
  width: 110px; }

.filterActive {
  background-color: #f5fcff;
  border-radius: 7px;
  /*  margin: 10px 7px; */
  padding: 5px 7px;
  color: black;
  text-decoration: none;
  font-size: 0.7em;
  border: 2px solid white;
  border: 2px solid #1b6d9c;
  outline: none;
  box-shadow: 1px 1px 2px #378eff;
  width: 110px; }

button {
  outline: none !important; }

div.mapFilter img {
  height: 12px;
  width: 12px;
  margin-right: 7px; }

button.highRating img {
  height: 14px;
  width: 14px; }

button.noteWorthy img {
  height: 13px;
  width: 13px; }

#wellInfo {
  color: black !important; }

#wellInfo p {
  font-size: 0.8em; }

#header section.description {
  font-size: 0.8em;
  text-align: center !important;
  background-color: #1b6d9c !important;
  color: white !important;
  padding: 20px 20px !important;
  /*  -moz-box-shadow:    inset 0 0 10px #000000; */
  /*  -webkit-box-shadow: inset 0 0 10px #000000; */
  box-shadow: inset 0 0 40px #134574; }

#sendButton {
  margin-top: 7px;
  background-color: #1b6d9c !important;
  width: 100%;
  box-shadow: 1px 2px 3px #b3b3b3; }

#reportButtonWell.btn.btn-primary {
  margin-top: 5px;
  width: 100%;
  color: black;
  background-color: #ffc107;
  /*   border: 1px solid black; */
  border: none;
  /*   box-shadow: 1px 2px 3px rgb(179, 179, 179); */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5); }

#reportButtonWell:hover {
  background-color: black !important;
  box-shadow: 2px 2px 2px black; }

#reportButtonWell:active {
  background-color: black !important;
  /*  box-shadow: 2px 2px 2px black; */ }

#reportButtonWell.btn.btn-primary img {
  height: 20px;
  margin-right: 10px; }

#exampleFormControlTextarea1 {
  margin-top: -20px; }

article.comment p {
  margin: 0; }

article.comment {
  border: 1px solid #e4e4e4;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 5px;
  margin-bottom: 10px; }

article.comment section.commentHeader {
  background-color: #eeeeee;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px; }

article.comment section.commentBody {
  padding: 5px; }

/*# sourceMappingURL=style.css.map */